<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
</head>
<body>
    <h1>Data from Services</h1>
    <h2>Honeyphy</h2>
    <pre>{{ data['honeyphy'] }}</pre>
    <h2>Honeyphy Log</h2>
    <pre>{{ data['honeyphy_log'] }}</pre>
    <h2>Crawler</h2>
    <pre>{{ data['crawler'] }}</pre>
    <h2>Certificates</h2>
    <pre>{{ data['cert'] }}</pre>
    <h2>Virtot</h2>
    <pre>{{ data['virtot'] }}</pre>
</body>
</html>
